:root {
    --white-color : #fff;
    --text-color : #9A9A9A;
    --black-color :#000;
    --blu-color: #14b9d5;
    --555-color : #555;
}

*{
    /* kế thừa từ thẻ chứa nó */
    box-sizing: inherit; 
    margin: 0;
    padding: 0;
}

html {
    /* 1rem = 10px*/
    font-size: 62.5%;
     /* chiều cao dòng */
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    box-sizing: border-box;
}

/* --------------con navbar----------- */
.header__subnav-list {
    position: absolute;
    z-index: 1;
    top: 43px;  
    background-color: var(--white-color);
    min-width: 192px;
    box-shadow: 0 0 6px rgb(255 255 255 / 80%);
    display: none;
}

.header-navbar__list-item:hover .header__subnav-list {
    display: block;
}

.header__subnav-item {
    list-style: none;
    height: 48px;
    letter-spacing: 2px;
    border-top: 1px solid #f1f1f1;
    position: relative;
}

.header__subnav-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.header__subnav-link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 15px 24px;  
    color: var(--text-color);  
    line-height: 48px;
}

.header__subnav-item-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__subnav-item-text {
    background-color: #f76570;
    color: var(--white-color);
    padding: 2px 4px;
    font-size: 1rem;
    border-radius: 4px;
    margin-left: 10px;
}

.header__subnav-item-text--blu {
    background-color: #1bbc9b;
}

/* sub-2 */
.header__subnav-sub-2-list {
    top: calc(100% - 48px);
    left: 218px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    min-width: 192px;
    box-shadow: 0 0 6px rgb(255 255 255 / 80%);
}   

.header__subnav-sub-2--tour::after {
    content: "";
    position: absolute;
    width: 29px;
    top: calc(100% - 192px);
    left: -27px;
    height: 48px;
    display: block;
}


.header__subnav-item-sub-2--about::after {
    content: "";
    position: absolute;
    width: 29px;
    top: calc(100% - 48px);
    left: -27px;
    height: 48px;
    display: block;
}

.header__subnav-item-sub-2--contact::after {
    content: "";
    position: absolute;
    width: 29px;
    top: calc(100% - 96px);
    left: -27px;
    height: 48px;
    display: block;
}

.header__subnav-item-sub-2--post::after {
    content: "";
    position: absolute;
    width: 29px;
    top: calc(100% - 144px);
    left: -27px;
    height: 48px;
    display: block;
}

.header__subnav-item:hover .header__subnav-sub-2-list {
    display: block;
}

.header__subnav-item-text--blu-color {
    background-color: var(--blu-color);
}